<header class="header_adep hidden-xs">


</header>

     <div class="container">

          <section class="section_principale">
               <!-- First Row -->
               <div class="row">

                    <!-- First Col -->
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">

                         <h1>L’Association pour le Développement de l’Education Permanente</h1>

                         <p>L’
                              <abbr title="Association pour le Développement de l’Education Permanente">ADEP</abbr>, créée en 1998, oeuvre dans le champ de l’éducation populaire et permanente, afin de permettre à des publics en grande difficultés sociales d’accéder aux savoirs de base et à la culture. Depuis 14 ans, l’
                              <abbr
                              title="Association pour le Développement de l’Education Permanente">ADEP</abbr> propose des cours d’alphabétisation, d’enseignement général, de langues, d’initiation à l’informatique avec un accès à un atelier libre-service informatique à destination d’un public en grande difficulté et en
                                   grande précarité. Échappant à toute logique de prescription, l’
                                   <abbr title="Association pour le Développement de l’Education Permanente">ADEP</abbr> accueille toute personne, jeune ou adulte, salariée ou non, souhaitant apprendre ou réapprendre.</p>

                    </div>

                    <div class="img_adep col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 hidden-xs">
                         <img src="img/test.jpg" alt="test" class="img-responsive">
                    </div>

               </div>
               <!-- End First Row -->


                <!-- div visible pour les écrans extra small-->

               <div class="conditions row hidden-md visible-sm visible-xs">

                 <div class="row">
                    <p class="col-xs-10 col-xs-offset-1">
                          Vous avez plus de 18 ans et vous avez quitté le système scolaire?
                    </p>
                 </div>

                 <div class="row">
                    <p class="col-xs-10 col-xs-offset-1">
                          Vous ne pouvez pas faire financer cette formation par votre entreprise ou vous n’avez pas accès aux financements publics?
                    </p>

                 </div>

                 <div class="row">

                    <p class="col-xs-10 col-xs-offset-1">
                          Vous ressentez le besoin de reprendre une formation?
                    </p>
                 </div>
               </div>



               <!-- div visible pour les écrans medium et large -->
                    <div class="conditions row hidden-sm hidden-xs">

                      <div class="col-xs-4">
                        <img src="/img/icon-18ans.png" alt="logo plus de 18 ans">
                         <p>
                               <br>Vous avez plus de 18 ans et vous avez quitté le système scolaire?
                         </p>
                      </div>

                      <div class="col-xs-4">
                        <img src="/img/icon-dollar.png" alt="logo dollar">
                         <p>
                               Vous ne pouvez pas faire financer cette formation par votre entreprise ou vous n’avez pas accès aux financements publics?

                         </p>

                      </div>

                      <div class="col-xs-4">
                        <img src="/img/icon-formation.png" alt="logo formation">
                         <p>
                               <br>Vous ressentez le besoin de reprendre une formation?
                         </p>
                      </div>
                    </div>

               <div class="row">
                    <div class="col-md-6 paragraphes">
                         <p>Le dispositif d’Education Permanente de la ville de Roubaix vous propose des cours du soir accessibles toute l’année, où vous pourrez progresser à votre rythme dans les matières que vous avez choisies (formation générale de base,
                              expression orale, langues, bureautique, arts plastiques, communication).</p>



                         <p>Membre de l’
                              <abbr title="Association Régionale des Organismes de Formation Economie Sociale Education Permanente">AROFESEP</abbr> et forte de son expérience dans le domaine de l’éducation permanente, l'
                              <abbr title="Association pour le Développement de l’Education Permanente">ADEP</abbr> a fait le choix du virage du numérique, en créant le Medias Lab, afin de devenir une association en adéquation avec son temps.</p>



                         <a id="lien_adep" title="Lien vers le site de l'ADEP Roubaix" href="http://www.adep-roubaix.fr/" target="_blank">Pour plus d'informations</a>

                    </div>

                    <div class="medialab col-xs-12 col-md-4 col-md-offset-1 paragraphes">
                         <h2 class="text-center">A Propos du Medias Lab</h2>

                         <p>Le Medias Lab est un espace dynamique, soutenu financièrement par l'
                              <abbr title="Association pour le Développement de l’Education Permanente">ADEP</abbr>, l’État et la Ville de Roubaix. Créatif et ouvert à tous, il répond aux attentes des nouvelles technologies et des nouveaux usages en proposant une démarche innovante dans l’apprentissage du numérique.</p>

                         <a id="lien_medialab" title="Lien vers le site du Media Lab" href="http://www.medias-lab.fr/" target="_blank">Pour plus d'informations</a>

                    </div>
               </div>



               <!-- End First Col -->


          </section>

     </div>

     <section class="partenaires_adep row">

          <h2 class="text-center">Les partenaires</h2>

          <!-- Liens vers les partenaires -->

          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 hidden-xs">
               <a href="http://www.fse.gouv.fr/">
                    <img src="/img/fse.png" alt="Logo du Fond Social Européen amenant directement vers le site officiel" class="col-sm-4 ">
               </a>
              <a href="www.nordpasdecalais.fr">
                    <img src="/img/npdc.png" alt="Logo de la région Nord Pas-de-Calais amenant directement vers le site officiel" class="col-sm-4">
               </a>
               <a href="https://lenord.fr/jcms/j_6/accueil">
                    <img src="/img/conseilgeneral.png" alt="Logo du Conseil Général du Nord amenant directement vers le site officiel" class="col-sm-4">
               </a>
          </div>
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 hidden-xs">
               <a href="http://www.lacse.fr/wps/portal/internet/acse/accueil/!ut/p/c5/04_SB8K8xLLM9MSSzPy8xBz9CP0os3iTsGADI09LYwN3R39XA88ACyN_DzdfA29PM6B8pFm8AQ7gaEBAt59Hfm6qfkFuRDkAIvCDDg!!/dl3/d3/L2dBISEvZ0FBIS9nQSEh/">
                    <img src="/img/acse.png" alt="Logo de l'ACSE amenant directement vers le site officiel" class="col-sm-4 ">
               </a>
               <a href="http://www.ville-roubaix.fr/">
                    <img src="/img/ville-roubaix.png" class="col-sm-4" alt="logo de la ville de Roubaix amenant directement sur le site officiel">
               </a>
               <a href="http://www.arofesep.com/">
                    <img src="/img/arofesep.png" alt="Logo de l'AROFESEP amenant directement vers le site officiel" class="arofesep col-sm-4 ">
               </a>
          </div>

          <div class="col-xs-12 visible-xs">
            <a href="http://www.fse.gouv.fr/">
                 <img src="/img/fse.png" alt="Logo du Fond Social Européen amenant directement vers le site officiel" class="col-xs-6 ">
            </a>
            <a href="www.nordpasdecalais.fr">
                 <img src="/img/npdc.png" alt="Logo de la région Nord Pas-de-Calais amenant directement vers le site officiel" class="col-xs-6 ">
            </a>
          </div>
          <div class="col-xs-12 visible-xs">
            <a href="https://lenord.fr/jcms/j_6/accueil">
                 <img src="/img/conseilgeneral.png" alt="Logo du Conseil Général du Nord amenant directement vers le site officiel" class="col-xs-6 ">
            </a>
           <a href="http://www.lacse.fr/wps/portal/internet/acse/accueil/!ut/p/c5/04_SB8K8xLLM9MSSzPy8xBz9CP0os3iTsGADI09LYwN3R39XA88ACyN_DzdfA29PM6B8pFm8AQ7gaEBAt59Hfm6qfkFuRDkAIvCDDg!!/dl3/d3/L2dBISEvZ0FBIS9nQSEh/">
                 <img src="/img/acse.png" alt="Logo de l'ACSE amenant directement vers le site officiel" class="col-xs-6">
            </a>
          </div>
          <div class="col-xs-12 visible-xs">
            <a href="http://www.ville-roubaix.fr/">
                 <img src="/img/ville-roubaix.png" class="col-xs-6" alt="logo de la ville de Roubaix amenant directement sur le site officiel">
            </a>
            <a href="http://www.arofesep.com/">
                 <img src="/img/arofesep.png" alt="Logo de l'AROFESEP amenant directement vers le site officiel" class="arofesep col-xs-6">
            </a>
          </div>
     </section>