
    <img src="/img/banner_contact.png" alt=" " id="banner_contact" />

    <div class="container">


      <div id="info_perso" class="row">

          <div  class="col-md-6 col-sm-10  ">
            <div id="info_hachemi" class=" col-lg-6 col-md-6 col-sm-6">
              <img id="img_hach" class="img-circle" src="/img/nai.png" alt="avatar hachemi" />
              <p>
                hachemi
              </p>
              <p>
                harizi
              </p>

              <p>
                adresse mail
              </p>
              <p>
                numero de telephone
              </p>
            </div>
            <div id="info_hachemi" class="col-lg-6 col-md-6 col-sm-6">
              <img id="img_hach" class="img-circle" src="/img/nai.png" alt="avatar hachemi" />
              <p>
                hachemi
              </p>
              <p>
                harizi
              </p>

              <p>
                adresse mail
              </p>
              <p>
                numero de telephone
              </p>
            </div>

  <div id="formul">

                    <div class="row">
                      <h3> Nous contacter :</h3>

                      <form >
                      <div class="form-group col-lg-10 col-md-12 col-sm-12 ">
                          <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">First Name</label>
                          </div>
                        </div>

                        <div class="form-group col-lg-10 col-md-12 col-sm-12">
                          <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                          </div>
                        </div>
                        <div class="form-group col-lg-10 col-md-12 col-sm-12">
                          <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">Message</label>
                          </div>

                        </div>
                      </form>
                      <button type="submit" class="btn-lg col-lg-offset-5  col-xs-offset-3 col-xs-6  col-md-offset-2 col-md-2 btn-primary">envoyer</button>

                    </div>
                  </div>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-8 "id="my_map">
          <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
          <div style="overflow:hidden;height:300px;width:600px;">
            <div id="gmap_canvas" style="height:300px;width:600px;"></div>
            <style>
                #gmap_canvas img {
            </style>
            max-width: none!important; background: none!important }

            <a class="google-map-code" href="http://www.themecircle.net/personal-blog/" id="get-map-data">wordpress personal blog themes</a>
          </div>
          <script type="text/javascript">
            function init_map() {
              var myOptions = {
                zoom: 17,
                center: new google.maps.LatLng(50.6742402, 3.1912485999999944),
                mapTypeId: google.maps.MapTypeId.TERRAIN
              };
              map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
              marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(50.6742402, 3.1912485999999944)
              });
              infowindow = new google.maps.InfoWindow({
                content: "<b>SIMPLON (adep)</b><br/>92 rue leon marlot<br/>59100 roubaix"
              });
              google.maps.event.addListener(marker, "click", function() {
                infowindow.open(map, marker);
              });
              infowindow.open(map, marker);
            }
            google.maps.event.addDomListener(window, 'load', init_map);
          </script>

          <div id="info_simplon">
          <p>
          Simplon Roubaix
          </p>

          <p>
            92, rue leon marlot
          </p>
          <p>
            59100 Roubaix
          </p>
          <p>
            tel: 03 20 02 79 68
          </p>
          <p>
          ouvert du lundi au vendredi de 9h-12H 13h15-17h00
          </p>
</div>



        </div>
      </div>


<!--
<div id="formu">
<h1> Nous contacter :</h1>

                  <div class="row">
                    <form>
                    <div class="form-group col-lg-7 col-lg-offset-2 ">
                        <div class="input-field">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">First Name</label>
                        </div>
                      </div>

                      <div class="form-group col-lg-7 col-lg-offset-2">
                        <div class="input-field">
                          <i class="material-icons prefix">email</i>
                          <input id="email" type="email" class="validate">
                          <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                      </div>
                      <div class="form-group col-lg-7 col-lg-offset-2">
                        <div class="input-field">
                          <i class="material-icons prefix">mode_edit</i>
                          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                          <label for="icon_prefix2">Message</label>
                        </div>

                      </div>
                    </form>
                    <button type="submit" class="btn-lg col-lg-offset-5  col-xs-offset-3 col-xs-6  col-md-offset-2 col-md-2 btn-primary">envoyer</button>

                  </div>
                </div>
                --->
    </div>
</div>
