<img src="/img/banner_simplon_co.png" class="imgbody">
​
    <div class="container" id="simplonglanding">
        <div id="simplong" class="row">
            <div class="row">
                <div id="general" class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <p>Simplon.co est un réseau de fabriques sociales du numérique qui propose des formations intensives pour apprendre à créer des sites web et des applications mobile, et en faire son métier.
                        <!-- La formation s’adresse prioritairement aux jeunes de moins de
        25 ans, non diplômés ou peu diplômés, issus des quartiers populaires et des milieux ruraux, mais également aux demandeurs d’emploi en reconversion ainsi qu’aux femmes et aux séniors, populations insuffisamment représentées dans les métiers techniques. -->
                        Les formations Simplon.co sont soit gratuites et qualifiantes, soit rémunérées et certifiantes , et bien sûr ouvertes à tous, pourvu que la motivation soit au rendez-vous !</p>
                    <div class="col-lg-12 col-md-6 col-sm-8 col-xs-10">
                        <img src="/img/recrutement.png">
                    </div>
                </div>
                <div id="generalvideo" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <video class="responsive-video" poster="/img/imagevideo.png" controls>
                        <source src="/img/Simplon.co-SD.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div id="simplonexmpl" class="row">
            <div id="formationsimplong" class="col-lg-5 col-md-5 col-sm-6">
                <h3>
                    La formation Simplon.co, c’est quoi ?
                </h3>
                <p>
                    <li>Une formation intensive de 6 mois</li>
                </p>
                <p>
                    <li>Pour apprendre à créer des sites web, des applications Web, et en faire son métier</li>
                </p>
                <p>
                    <li>Une formation gratuite, et ouvertes à tous, pourvu que la motivation soit au rendez-vous</li>
                </p>
                <h3>
                    Avant de candidater :
                </h3>
                <a href="http://simplon.co/les-formations-longues/developpeur/">
                    <button type="button" class="btn btn-magick btn-lg btn3d">Je m'informe</button>
                </a>
​
            </div>
            <div class="col-lg-6 col-md-5 col-sm-6">
                <h3>
                    Ca m’intéresse ! Comment candidater ?
                </h3>
                <p>
                    <li>Une sélection ouverte à tous</li>
                </p>
                <p>
                    <li>Basée sur la motivation, l’autonomie, et l’envie d ‘apprendre le développement web en équipe</li>
                </p>
                <p>
                    <li>En trois étapes, que vous pouvez commencer dès maintenant, même si vous n’avez jamais pratiqué</li>
                </p>
                <h3>
                    Si vous êtes prêt(e) et motivé(e) :
                </h3>
                <a href="http://simplon.co/je-candidate/">
                    <button type="button" class="btn btn-magick btn-lg btn3d">Je candidate</button>
                </a>
            </div>
        </div>
    </div>