<!-- /////////////////////   HEADER CAROUSEL  /////////////////////// -->

		<header>
			<div class="slider">
    <ul class="slides">
      <li>
        <img src="/img/Simplon-Roubaix-11.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="/img/la_deuxieme.png"> <!-- random image -->
      </li>
      <li>
        <img src="/img/photo1.jpg"> <!-- random image -->
      </li>
    </ul>
  </div>
		</header>

<!-- /////////////////////   HEADER CAROUSEL END    ////////////////// -->
<div id="contentrow">
  <div class="row">
    <div id="texte1" class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <img id="titre1" src="/img/Logo-Roubaix-gray.png">
      <p>L’ADEP, la Ville de Roubaix et Simplon.co lancent une <strong>nouvelle formation</strong> de “<strong>développeur.se Web - mobile</strong>” à destination des populations des quartiers populaires de Roubaix.<br>
        La formation est <strong>entièrement gratuite</strong>. Elle se déroule de manière <strong>intensive et immersive</strong>, en six mois, avec une <strong>pédagogie innovante</strong> fondée à 80% sur le “<strong>learning by doing</strong>” (pratique par projets), le “<strong>peer-programming</strong>” (programmation par les pairs, en binôme), les projets, et sur la mise en situation de formation.
        Mené dans une démarche d’<strong>innovation sociale</strong>, ce projet constitue un double défi : • <strong>économique</strong> : participer à l’endiguement du chômage en répondant aux besoins de recrutement des entreprises du numérique engagées dans cette démarche citoyenne, • <strong>social</strong> : en agissant sur l’emploi et la qualification de publics marginalisés sélectionnés uniquement sur la <strong>base de critères sociaux</strong> et de leur <strong>motivation</strong>, et non selon les diplômes.</p>
      </div>
      <div id="twitter" class="col-md-3 col-md-offset-1 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <a class="twitter-timeline" href="https://twitter.com/SimplonRoubaix" data-widget-id="671312975446306818">Tweets de @SimplonRoubaix</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>

  <div id="secondcontent" class="row">
    <div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
      <img id="photo1" src="/img/photo1.png">
    </div>
    <div id="texte2" class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <p style="text-align: justify;">Depuis 2013, Simplon.co propose des formations gratuites (qualifiantes) et rémunérées (certifiantes) de 6 mois ou plus à des publics éloignés et/ou peu représentés dans le secteur numérique <a href="http://simplon.co/ecosysteme/essaimage-simplon-co/" target="_blank">en France</a> et à l&rsquo;international.</p>
<p style="text-align: justify;">Depuis octobre 2015, la &laquo;&nbsp;grande école du numérique&nbsp;&raquo;, initiative lancée par François Hollande,  vise à former 10 000 jeunes sans emploi et sans qualification aux métiers du numérique d’ici 2017 grâce à 200 “fabriques numériques” implantées dans les quartiers prioritaires et les zones rurales <a href="http://www.economie.gouv.fr/files/files/PDF/rapport_grande-ecole-du-numerique_2015.pdf" target="_blank">[téléchargez le rapport (PDF)]</a>.</p>
<p style="text-align: justify;">Les projets d’écoles du numérique entrant dans le cadre défini par le Gouvernement seront labellisés et recevront des co-financements pour se lancer : pourquoi pas vous ? &#8230; avec nous ;-)</p>
    </div>
  </div>

<div class="row" id="simplonglanding">
        <div id="simplong" class="col-md-offset-1">
        <div class="row">
                <div id="general" class="col-md-4">
                    <p>Simplon.co est un réseau de fabriques sociales du numérique qui propose des formations intensives pour apprendre à créer des sites web et des applications mobile, et en faire son métier.
                        <!-- La formation s’adresse prioritairement aux jeunes de moins de
        25 ans, non diplômés ou peu diplômés, issus des quartiers populaires et des milieux ruraux, mais également aux demandeurs d’emploi en reconversion ainsi qu’aux femmes et aux séniors, populations insuffisamment représentées dans les métiers techniques. -->
                        Les formations Simplon.co sont soit gratuites et qualifiantes, soit rémunérées et certifiantes , et bien sûr ouvertes à tous, pourvu que la motivation soit au rendez-vous !</p>
                    <div class="col-lg-12 col-md-6 col-sm-8 col-xs-10">
                        <img src="/img/recrutement.png">
                    </div>
                </div>
            <div id="formationsimplong" class="col-md-3">
                <h3>
                    La formation Simplon.co, c’est quoi ?
                </h3>
                <p>
                    <li>Une formation intensive de 6 mois</li>
                </p>
                <p>
                    <li>Pour apprendre à créer des sites web, des applications Web, et en faire son métier</li>
                </p>
                <p>
                    <li>Une formation gratuite, et ouvertes à tous, pourvu que la motivation soit au rendez-vous</li>
                </p>
                <h3 id="beforecandidate">
                    Avant de candidater :
                </h3>
                <a href="http://simplon.co/les-formations-longues/developpeur/">
                    <button type="button" style="text-decoration:none;" class="btn btn-magick btn-lg btn3d">Je m'informe</button>
                </a>
​
            </div>
            <div class="col-md-3">
                <h3>
                    Ca m’intéresse ! Comment candidater ?
                </h3>
                <p>
                    <li>Une sélection ouverte à tous</li>
                </p>
                <p>
                    <li>Basée sur la motivation, l’autonomie, et l’envie d ‘apprendre le développement web en équipe</li>
                </p>
                <p>
                    <li>En trois étapes, que vous pouvez commencer dès maintenant, même si vous n’avez jamais pratiqué</li>
                </p>
                <h3>
                    Si vous êtes prêt(e) et motivé(e) :
                </h3>
                <a href="http://simplon.co/je-candidate/">
                    <button type="button" class="btn btn-magick btn-lg btn3d">Je candidate</button>
                </a>
            </div>
            </div>
    </div>
    </div>
    
  </div>
</div>
<div id="texte3" class="row">
  <div id="soustexte2" class="col-md-5 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h2>Candidature pour Simplon Roubaix</h2>
<p>Les inscriptions pour cette formation sont ouvertes prioritairement aux habitants du Roubaisis éloignés de l’emploi, mais toutes les candidatures motivées seront les bienvenues. La candidature se déroulera en deux étapes :</p>
  <div class="row">
    <div id="soustexte3" class="col-md-6 col-md-offset-0">
      <h2>Candidature en ligne </h2>
      <p>Ouverture le 7 septembre 2015 >> Profitez de ces quelques jours pour vous entrainer et passer des badges sur le site www.codecademy ;)</p>
    </div>
    <div id="soustexte4" class="col-md-6 col-md-offset-0">
      <h2>Entretiens de sélection</h2>
      <p>Si votre candidature est retenue, vous serez convoqué.e à un entretien de sélection qui se déroulera début octobre.</p>
    </div>
    </div>
    </div>
                    <div id="generalvideo" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <video class="responsive-video" poster="/img/imagevideo.png" controls>
                        <source src="/img/Simplon.co-SD.mp4" type="video/mp4">
                    </video>
                </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <div id="your-circle"></div>
    </div>
    <div class="col-lg-2">
        <div id="your-circle2"></div>
    </div>
    <div class="col-lg-2">
        <div id="your-circle3"></div>
    </div>
    <div class="col-lg-2">
        <div id="your-circle4"></div>
    </div>
    <div class="col-lg-2">
        <div id="your-circle5"></div>
    </div>
</div>
</div>

<div id="sponsor" class="row">
  <div class="col-md-offset-2">
    <img src="/img/ovh.png">
    <img src="/img/unioneuropeenne.png">
    <img src="/img/ville-roubaix.png">
    <img src="/img/fse.png">
    <img src="/img/conseilgeneral.png">
  </div>
</div>